* {
    background-color: rgb(146, 106, 166);
}
table {
    width: 100%;
    margin-top: 10%;
   
}
h1 {
    position: absolute;
    width: 100%;
    font-weight: bolder;
    font-size: 400%;
    text-align: center;
    top: 2%;
    background: none;
}
tr, td{
    border: 1px solid black;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
}
.erase {
    empty-cells: hide;
}
.side{
    padding-left: 38px;
    empty-cells: hide;
}
.down {
    padding: 25px;
    empty-cells: hide;
}
/* Non-metals */
.nonmetal {
    background-color: rgb(0, 132, 255);
}
.atomicnumnon {
    margin-left: 0;
    font-size: 84%;
    background-color: rgb(0, 132, 255);
}
.atomicmassnon {
    margin-left: 30%;
    font-size: 84%;
    background-color: rgb(0, 132, 255);
}
.symbolnon {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-color: rgb(0, 132, 255);
}
.namenon {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-color: rgb(0, 132, 255);
}
.nonmetal:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #0066CC, 0 0 15px #0066CC, 0 0 15px #0066CC;
}
/* Noble gases */
.noblegases {
    background-color: rgb(255, 99, 172);
}
.atomicnumgas {
    margin-left: 0;
    font-size: 84%;
    background-color: rgb(255, 99, 172);
}
.atomicmassgas {
    margin-left: 30%;
    font-size: 84%;
    background-color: rgb(255, 99, 172);
}
.symbolgas {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-color: rgb(255, 99, 172);
}
.namegas {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-color: rgb(255, 99, 172);
}
.noblegases:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #FF63AC, 0 0 15px #FF63AC, 0 0 15px #FF63AC;
}
/* Alkaline Earth Metals */
.alkalineearthmetals {
    background-color: rgb(248, 56, 72);
}
.atomicnumearth {
    margin-left: 0;
    font-size: 84%;
    background-color: rgb(248, 56, 72);
}
.atomicmassearth {
    margin-left: 30%;
    font-size: 84%;
    background-color: rgb(248, 56, 72);
}
.symbolearth {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-color: rgb(248, 56, 72);
}
.nameearth {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-color: rgb(248, 56, 72);
}
.alkalineearthmetals:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #F83848, 0 0 15px #F83848, 0 0 15px #F83848;
}
/* Alkali Metals */
.alkalimetals {
    background-color: rgb(0, 184, 197);
}
.atomicnumalkali {
    margin-left: 0;
    font-size: 84%;
    background-color: rgb(0, 184, 197);
}
.atomicmassalkali {
    margin-left: 30%;
    font-size: 84%;
    background-color: rgb(0, 184, 197);
}
.symbolalkali {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-color: rgb(0, 184, 197);
}
.namealkali {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-color: rgb(0, 184, 197);
}
.alkalimetals:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #00B8C5, 0 0 15px #00B8C5, 0 0 15px #00B8C5;
}
/* Transition Metals */
.transitionmetals {
    background-image: linear-gradient(#CF9893,#119DA4);
}
.atomicnumtransition {
    margin-left: 0;
    font-size: 84%;
    background-image: linear-gradient(#CF9893,#119DA4);
}
.atomicmasstransition {
    margin-left: 30%;
    font-size: 84%;
    background-image: linear-gradient(#CF9893,#119DA4);
}
.symboltransition {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image: linear-gradient(#CF9893,#119DA4);
}
.nametransition {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image: linear-gradient(#CF9893,#119DA4);
}
.transitionmetals:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #674EEE, 0 0 15px #674EEE, 0 0 15px #674EEE;
}
/* Actinides */
.actinides {
    background-image: linear-gradient(#6868AC,#CF9893);
}
.atomicnumacti {
    margin-left: 0;
    font-size: 84%;
    background-image:linear-gradient(#6868AC,#CF9893);
}
.atomicmassacti {
    margin-left: 30%;
    font-size: 84%;
    background-image: linear-gradient(#6868AC,#CF9893);
}
.symbolacti {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image:linear-gradient(#6868AC,#CF9893);
}
.nameacti{
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image: linear-gradient(#6868AC,#CF9893);
}
.actinides:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow:   0 0 15px #57054c, 0 0 15px #57054c, 0 0 15px #57054c;
}
/* Lanthanides */
.lanthanides {
    background-image:linear-gradient(#119DA4,#FDE789);
}
.atomicnumlan {
    margin-left: 0;
    font-size: 84%;
    background-image:linear-gradient(#119DA4,#FDE789);
}
.atomicmasslan  {
    margin-left: 30%;
    font-size: 84%;
    background-image:linear-gradient(#119DA4,#FDE789);
}
.symbollan  {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image:linear-gradient(#119DA4,#FDE789);
}
.namelan {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image:linear-gradient(#119DA4,#FDE789);
}
.lanthanides:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #194866, 0 0 15px #194866, 0 0 15px #194866;
}
/* Unknown Properties */
.unknown {
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.atomicnumq {
    margin-left: 0;
    font-size: 84%;
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.atomicmassq {
    margin-left: 30%;
    font-size: 84%;
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.symbolq  {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.nameq {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.unknown:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #5C6180, 0 0 15px #5C6180, 0 0 15px #5C6180;
}
/* Post-transition Metals */
.posttransitionmetals {
    background-image:linear-gradient(#5B4C97,#1C3CA1);
}
.atomicnump {
    margin-left: 0;
    font-size: 84%;
    background-image:linear-gradient(#5B4C97,#1C3CA1);
}
.atomicmassp {
    margin-left: 30%;
    font-size: 84%;
    background-image:linear-gradient(#5B4C97,#1C3CA1);
}
.symbolp  {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image:linear-gradient(#5B4C97,#1C3CA1);
}

.namep {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image:linear-gradient(#5B4C97,#1C3CA1);

}
.posttransitionmetals:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #0B3E1C, 0 0 15px #0B3E1C, 0 0 15px #0B3E1C;
}
/* Metaloids */
.metaloids {
    background-image:linear-gradient(#A44D01,#E99331);

}
.atomicnumm {
    margin-left: 0;
    font-size: 84%;
    background-image:linear-gradient(#A44D01,#E99331);

}
.atomicmassm {
    margin-left: 30%;
    font-size: 84%;
    background-image:linear-gradient(#A44D01,#E99331);

}
.symbolm  {
    font-size: 200%;
    font-family: arial;
    font-weight: bolder;
    background-image:linear-gradient(#A44D01,#E99331);

}
.namem {
    font-family: arial;
    font-size: 90%;
    font-weight: 600;
    background-image:linear-gradient(#A44D01,#E99331);

}
.metaloids:hover{
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 0 15px #9E6615, 0 0 15px #9E6615, 0 0 15px #9E6615;
}
/* Group of Elements */
.elementgroup h3{
   
    font-size: 260%;
    letter-spacing: 2px;
    font-family: monospace;
    
}
.elementgroup .column1{
    position: absolute;
    left: 10%;
    bottom: -50%;
    background: none;
}
.elementgroup .column2{
    position: absolute;
    left: 35%;
    bottom: -41%;
    background: none;
}
.elementgroup .column3{
    position: absolute;
    left: 70%;
    bottom: -41%;
    background: none;
}
.alkali {
    color: rgb(0, 184, 197);
}
.metalloids{
    background-image:linear-gradient(#A44D01,#E99331);
}
.aactinides{
    background-image:linear-gradient( #6868AC,#CF9893);
}
.llanthanides{
    background-image:linear-gradient(#119DA4,#FDE789);
}
.alkaline{
    color: rgb(248, 56, 72);
}
.reactive{
    color: rgb(0, 132, 255);
}
.unknownn{
    background-image:linear-gradient(#BD6267,#5B4C97);
}
.transition{
    background-image: linear-gradient(#CF9893,#119DA4);
}
.noble{
    color: rgb(255, 99, 172);
}
.post{
    background-image:linear-gradient(#5B4C97,#1C3CA1);
}